.referencesContainer{
	display: flex;
	flex-direction:row;
}
.referencesContainer #section{
	width: 100%;
}
.referencesContainer #section h3{
	text-decoration: underline;
}
.referencesContainer #section h1{
	text-align: center;
	font-size: 36px;
	margin-left: 10px;
	margin-right: 10px;
}