.referencesContainer{
	display: flex;
	flex-direction:row;
}
.referencesContainer .section{
	width: 100%;
}
.referencesContainer .section h3{
	text-decoration: underline;
}
.referencesContainer .section h1{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}
.referencesContainer .section h1{
	text-decoration: none;
}

@media (max-aspect-ratio: 1){
	.referencesContainer .section h1{
		font-size: 60px;
	}
	.referencesContainer .section h3{
		font-size: 35px;
	}
}
@media (min-aspect-ratio: 1){
	.referencesContainer .section h1{
		font-size: 36px;
	}
}