.siteTree{
	display: flex;
	flex-direction:column;
}
.siteTree p{
	padding: 0%;
}
@media (max-aspect-ratio: 1){
	.siteTree{
		margin-top: 2vw;
		margin-bottom: 2vw;
		margin-left: 4vw;
		margin-right: 4vw;
	}
	.siteTree p{
		margin-top: 4vw;
		font-size: 4vw;
	}
	.siteTree li{
		font-size: 4vw;
	}
}
@media (min-aspect-ratio: 1){
	.siteTree{
		margin-top: min(10px, 1vw);
		margin-bottom: min(10px, 1vw);
		margin-left: min(20px, 2vw);
		margin-right: min(20px, 2vw);
	}
	.siteTree p{
		margin-top: min(20px, 2vw);
		margin-left: min(20px, 2vw);
		font-size: 1.17rem;
	}
	.siteTree li{
		font-size: 1.17rem;
	}
}