.siteTreeC{
    border: 2px dashed #FFDFDF;
}
.siteTreeC_Halloween{
    border: 2px dashed #0D2E4A;
}
.siteTreeC_DnD{
    border: 2px dashed #0D2E4A;
}
.siteTreeC_Christmas{
    border: 2px dashed #AAC6C1;
}
.siteTreeC_Autumn{
    border: 2px dashed #70363F;
}
.siteTreeC_Valentine{
    border: 2px dashed #655664;
}
.siteTreeC_NewYearEve{
    border: 2px dashed #9A9A9A;
}
.siteTreeC_NewYearDay{
    border: 2px dashed #70363F;
}
.siteTreeC_Birthday{
    border: 2px dashed #080828;
}
.siteTreeC_Debtors{
    border: 2px dashed #9A9A9A;
}
.siteTreeC_Dark{
    border: 2px dashed #2f2f2f;
}