.siteTree{
	display: flex;
	flex-direction:column;
	margin-top: 10px;
	margin-bottom:10px;
	margin-left: 20px;
	margin-right: 20px;
}
@media (max-aspect-ratio: 1){
	.siteTree h3{
		font-size: 35px;
	}
	.siteTree li{
		font-size: 35px;
	}
}