@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap');
h1, h2, h3, h4, h5, h6, p, a, ul, li{
    font-family: 'Indie Flower';
}
li{
	list-style-image: url('../Img/UI/ListMarker.png');
}
ul{
	margin: 0%;
}
/* Move these colours into seasonal styling */
a{
    color: #5F5F5F;
    text-decoration: none;
}
a:hover{
    color: #3F3F3F;
    text-decoration: underline #000000;
}
.mainBody{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}
.heading{
	display: flex;
}
.headerItems{
	display: flex;
	flex-direction: row;
}
.title{
	margin-left: 0%;
}
.title h1{
	text-align: center;
	margin: 0%;
}
.title h3{
	text-align: center;
	margin: 0%;
}
.profile{
	display: flex;
}
.sectionText h3{
	margin-top: 5px;
	margin-bottom: 0px;
}
.section{
	display: flex;
	flex-direction: column;
}
.section h2{
	margin-bottom: 0%;
}
.imageRow{
	display: flex;
}
.imageRow img{
	width: 100%;
}
.imageRow p{
	font-size: 0%;
}
.imageBox p{
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 0%;
}

@media (max-aspect-ratio: 1)
{
	/* 
		All values are scaled width-centric,
		mostly because it's easier :)
	*/
	h3, p{
		margin: 1vw;
	}
	.mainBody{
		width: 100vw;
		padding-bottom: 3.7vw;
	}
	.title{
		width: 100vw;
		height: 25vw;
	}
	.title h1{
		font-size: 10vw;
	}
	.title h3{
		font-size: 5vw;
	}
	.heading{
		flex-direction: column;
	}
	.headerItem{
		width: 33.3vw;
		height: 33.3vw;
	}
	.headerItem img{
		width: 33.3vw;
		height: 33.3vw;
	}
	.profile{
		flex-direction: column-reverse;
		margin-left: 4vw;
		margin-right: 4vw;
		margin-top: 2vw;
		margin-bottom: 2vw;
	}
	.sectionImage{
		margin-left: auto;
		margin-right: auto;
	}
	.sectionImage img{
		width: 75vw;
		height: 75vw;
	}
	.sectionText{
		width: auto;
	}
	.sectionText h3{
		font-size: 4vw;
	}
	.sectionText li{
		font-size: 4vw;
	}
	.section{
		width: auto;
		margin-top: 4vw;
		margin-left: 4vw;
		margin-right: 4vw;
	}
	.section h1{
		font-size: 8vw;
		margin-left: 4vw;
	}
	.section h2{
		font-size: 7vw;
		margin-left: 3.5vw;
		margin-left: 3vw;
		margin-top: 3vw;
	}
	.section h3{
		font-size: 4vw;
	}
	.section li{
		font-size: 4vw;
	}
	.imageRow{
		flex-direction: column;
		width: auto;
		margin-left: 3vw;
		margin-right: 3vw;
	}
	.imageBox p{
		font-size: 3vw;
		margin-right: 3vw;
		margin-top: 1vw;
		margin-left: 2.5vw;
	}
	.imageBox iframe{
		/* Scaled for 16:9 */
		width: 85vw;
		height: 47.8125vw;
	}
}
@media (min-aspect-ratio: 1)
{
	h3, p{
		margin: min (10px, 1vw);
	}
	.mainBody{
		width: min(1080px, 98vw);
		padding-bottom: min(40px, 4vw);
	}
	.title{
		width: 50%;
		height: 180px;
		max-height: 16.5vw;
	}
	.title h1{
		font-size: min(70px, 6.5vw);
	}
	.title h3{
		font-size: min(40px, 4vw);
	}
	.heading{
		flex-direction: row;
	}
	.headerItems{
		min-width: 50%;
		max-width: 51%;
		height: 180px;
		max-height: 16.5vw;
	}
	.headerItem{
		max-width: 35%;
		min-width: 33%;
		height: 100%;
	}
	.headerItem img{
		width: 100%;
		height: 100%;
	}
	.profile{
		flex-direction:row;
		margin-top: min(10px, 1vw);
		margin-bottom:min(10px, 1vw);
		margin-left: min(40px, 4vw);
		margin-right: min(40px, 4vw);
		width: min(1000px, 99vw);
	}
	.section{
		width: min(1000px, 90vw);
		margin-left: min(40px, 4vw);
		margin-right: min(40px, 4vw);
		margin-top: min(40px, 4vw);
	}
	.section h1{
		margin-left: min(30px, 3vw);
	}
	.section h2{
		margin-left: min(30px, 3vw);
		margin-left: min(20px, 2vw);
		margin-top: min(20px, 2vw);
	}
	.section h3{
		font-size: 1.17rem;
		margin-left: min(20px, 2vw);
		margin-right: min(20px, 2vw);
	}
	.section li{
		font-size: 1.17rem;
		margin-left: min(20px, 2vw);
		margin-right: min(20px, 2vw);
	}
	.imageRow{
		width: auto;
		margin-left: min(20px, 2vw);
		margin-right: min(20px, 2vw);
	}
	.imageRow p{
		margin-right: min(20px, 2vw);
	}
	.imageBox p{
		margin-top: min(5px, 0.5vw);
		margin-left: min(15px, 1.5vw);
	}
	.sectionImage img{
		width: min(256px, 24vw);
		height: min(256px, 24vw);
		margin-left: min(4px, 0.4vw);
	}
	.sectionText{
		width: min(780px, 67vw);
	}
	.sectionText h3{
		font-size: 1.17rem;
		margin-left: min(20px, 2vw);
		margin-right: min(20px, 2vw);
	}
	.sectionText li{
		font-size: 1.17rem;
		margin-left: min(20px, 2vw);
		margin-right: min(20px, 2vw);
	}
	.imageRow{
		flex-direction: row;
	}
	.imageBox p{
		font-size: 0.98rem;
	}
	.imageBox iframe{
		width: min(960px, 86vw);
		height: min(540px, 48.375vw);
	}
}