.mainBodyC{
    background-color: #FFFAFA;
    box-shadow: 5px 5px 15px #CFCFCF;
}
.mainBodyC_Halloween{
    background-color: #1D3E5A;
    box-shadow: 5px 5px 15px #0D2E4A;
}
.mainBodyC_Christmas{
    background-color: #DEFFF9;
    box-shadow: 5px 5px 15px #9CC4BC;
}
.mainBodyC_Autumn{
    background-color: #BD5D61;
    box-shadow: 5px 5px 15px #5A4548;
}
.mainBodyC_Valentine{
    background-color: #BDA6BB;
    box-shadow: 5px 5px 15px #9E8B9C;
}

.titleC{
    background-color: #FFEEEE;
    border: 2px #EFDFDF;
    border-style: none none solid none;
}
.titleC_Halloween{
    background-color: #0D2E4A;
    border: 2px #001E3A;
    border-style: none none solid none;
}
.titleC_Christmas{
    background-color: #BAD6D1;
    border: 2px #AAC6C1;
    border-style: none none solid none;
}
.titleC_Autumn{
    background-color: #80464F;
    border: 2px #70363F;
    border-style: none none solid none;
}
.titleC_Valentine{
    background-color: #756774;
    border: 2px #655664;
    border-style: none none solid none;
}

.headingC{
    background-color: #FFFEFE;
    border: 2px #EFDFDF;
    border-style: none none solid none;
}
.headingC_Halloween{
    background-color: #1D3E5A;
    border: 2px #001E3A;
    border-style: none none solid none;
}
.headingC_Christmas{
    background-color: #BAD6D1;
    border: 2px #AAC6C1;
    border-style: none none solid none;
}
.headingC_Autumn{
    background-color: #80464F;
    border: 2px #70363F;
    border-style: none none solid none;
}
.headingC_Valentine{
    background-color: #756774;
    border: 2px #655664;
    border-style: none none solid none;
}

.headerItemC{
    background-color: #FFEEEE;
    border: 2px #EFDFDF;
    border-style: none none solid none;
}
.headerItemC img:hover{
	background-color: #DFCFCF;
}
.headerItemC_Halloween{
    background-color: #0D2E4A;
    border: 2px #001E3A;
    border-style: none none solid none;
}
.headerItemC_Halloween img:hover{
	background-color: #001E3A;
}
.headerItemC_Christmas{
    background-color: #BAD6D1;
    border: 2px #AAC6C1;
    border-style: none none solid none;
}
.headerItemC_Christmas img:hover{
	background-color: #AAC6C1;
}
.headerItemC_Autumn{
    background-color: #80464F;
    border: 2px #70363F;
    border-style: none none solid none;
}
.headerItemC_Autumn img:hover{
    background-color: #70363F;
}
.headerItemC_Valentine{
    background-color: #756774;
    border: 2px #655664;
    border-style: none none solid none;
}
.headerItemC_Valentine img:hover{
    background-color: #655664;
}

.currentPageC{
	background-color: #EFDFDF;
}
.currentPageC_Halloween{
	background-color: #001E3A;
}
.currentPageC_Christmas{
	background-color: #AAC6C1;
}
.currentPageC_Autumn{
    background-color: #70363F;
}
.currentPageC_Valentine{
    background-color: #655664;
}

.sectionImageC img{
    box-shadow: 3px 3px 10px #CFCFCF;
}
.sectionImageC_Halloween img{
    box-shadow: 3px 3px 10px #0D2E4A;
}
.sectionImageC_Christmas img{
    box-shadow: 3px 3px 10px #9CC4BC;
}
.sectionImageC_Autumn img{
    box-shadow: 3px 3px 10px #5A4548;
}
.sectionImageC_Valentine img{
    box-shadow: 3px 3px 10px #9E8B9C;
}

.sectionTextC{
    border: 2px dashed #FFDFDF;
}
.sectionTextC_Halloween{
    border: 2px dashed #001E3A;
}
.sectionTextC_Christmas{
    border: 2px dashed #AAC6C1;
}
.sectionTextC_Autumn{
    border: 2px dashed #70363F;
}
.sectionTextC_Valentine{
    border: 2px dashed #655664;
}

.sectionC{
    border: 2px dashed #FFDFDF;
}
.sectionC h1{
    text-decoration: underline;
}
.sectionC_Halloween{
	border: 2px dashed #001E3A;
}
.sectionC_Halloween h1{
	text-decoration: underline;
}
.sectionC_Christmas{
	border: 2px dashed #AAC6C1;
}
.sectionC_Christmas h1{
	text-decoration: underline;
}
.sectionC_Autumn{
    border: 2px dashed #70363F;
}
.sectionC_Autumn h1{
    text-decoration: underline;
}
.sectionC_Valentine{
    border: 2px dashed #655664; 
}
.sectionC_Valentine h1{
    text-decoration: underline;
}

.imageRowC img{
    box-shadow: 5px 5px 15px #CFCFCF;
}
.imageRowC_Halloween img{
	box-shadow: 5px 5px 15px #0D2E4A;
}
.imageRowC_Christmas img{
	box-shadow: 5px 5px 15px #9CC4BC;
}
.imageRowC_Autumn img{
    box-shadow: 5px 5px 15px #5A4548;
}
.imageRowC_Valentine img{
    box-shadow: 5px 5px 15px #9E8B9C;
}

.imageBoxC p{
    color: #999999;
}