h1, h2, h3, h4, h5, h6, p{
    font-family:cursive;
}

h1, h3{
    margin: 0px;
}

@media screen and (orientation: landscape){
    .heading{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
        font-size: large;
    }
}
@media screen and (orientation: portrait){
    .heading{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        font-size: large;
    }
}