@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap');
h1, h2, h3, h4, h5, h6, p, a, ul, li{
    font-family: 'Indie Flower';
}
h3, p{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
li{
	font-size: 20px;
	list-style-image: url('../Img/UI/ListMarker.png');
}
ul{
	margin: 0px;
}
a{
    color: #5F5F5F;
    text-decoration: none;
}
a:hover{
    color: #3F3F3F;
    text-decoration: underline #000000;
}
.mainBody{
    width:1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFAFA;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px #CFCFCF;
    padding-bottom: 200px;
}
.heading{
    background-color: #FFFEFE;
    display: flex;
    flex-direction: row;
    border: 2px #EFDFDF;
    border-style: none none solid none;
}
.title{
    margin-left: 0px;
    width: 540px;
    height: 180px;
    background-color: #FFEEEE;
    border: 2px #EFDFDF;
    border-style: none none solid none;
}
.title h1{
	text-align: center;
	font-size: 70px;
	margin: 0px;
}
.title h3{
	text-align: center;
	font-size: 40px;
	margin: 0px;
}
#headerItem{
    width: 180px;
    height: 180px;
    background-color: #FFEEEE;
    border: 2px #EFDFDF;
    border-style: none none solid none;
}
#headerItem img{
	width: 180px;
	height: 180px;
}
#headerItem img:hover{
	background-color: #DFCFCF;
}
.currentPage{
	background-color: #EFDFDF;
}
.profile{
	display: flex;
	flex-direction:row;
	margin-top: 10px;
	margin-bottom:10px;
	margin-left: 40px;
	margin-right: 40px;
	width: 1000px;
	height: 256px;
}
#sectionImage img{
	width: 256px;
	height: 256px;
	box-shadow: 3px 3px 10px #CFCFCF;
	margin-left: 4px;
}
#sectionText{
	width: 780px;
	height: 256px;
	background-color: #FFEEE;
	border: 2px dashed #FFDFDF;
}
#sectionText h3{
	margin-top: 5px;
	margin-bottom: 0px;
}
#section{
	display: flex;
	flex-direction: column;
	border: 2px dashed #FFDFDF;
	width: 1000px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
}

#section h1{
	margin-left: 30px;
	text-decoration: underline;
}
#section h2{
	margin-left: 30px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-top: 20px;
}
#imageRow{
	display: flex;
	flex-direction: row;
	width: 960px;
	margin-left: 20px;
	margin-right: 20px;
}
#imageRow img{
	width: 100%;
	box-shadow: 5px 5px 15px #CFCFCF;
}
#imageRow p{
	font-size: 0px;
	margin-right: 20px;
}
#imageBox p{
	font-size: 18px;
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 0px;
	color: #999999;
}