h1, h2, h3, h4, h5, h6, p{
    font-family: 'Courier New', Courier, monospace;
}

h1, h3{
    margin: 0px;
}
.heading{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
}
.mainBody{
    width:1080px;
    height:1920px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 50px black;
}