.backgroundC{
	border-radius: 0%;
	background-image: url('../../../Img/Games/LimboLane/LimboLaneBackground.webp');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.backgroundC_DnD{
	border-radius: 0%;
	background-image: url('../../../Img/Games/LimboLane/LimboLaneBackground.webp'), url('../../../Img/Themes/DnD/MainBack.gif');
	background-attachment: fixed, fixed;
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
}