body{
	background-image: url('../../../Img/Games/Dreaming/DreamingBackground.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

@media (max-aspect-ratio: 1){
	.heading h1{
		font-size: 7vw;
	}
	.heading h3{
		font-size: 5vw;
	}
}
@media (min-aspect-ratio: 1){
	.heading h1{
		font-size: min(45px, 4vw);
	}
	.heading h3{
		font-size: min(30px, 3vw);
	}
}