.contentGallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.galleryItem{
    margin: 10px;
    width: 256px;    
}
.galleryItem img{
    width: 256px;
    height: 400px;
    border-radius: 50px;
}
.galleryItem h3{
    font-size: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.galleryItem p{
    font-size: 22px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}